@charset "UTF-8";

input[type="radio"] {
	margin: 0 10px 0 10px;
}

body {
	background-color: black;
	color: gold;
	text-align: center;
}

.numGroup {
	text-align: center;
}

.topHome {
	align-content: left;
}

h1 {
	text-align: center;
}



.container {
	text-align: center;
}

hr {
	border-color: white;
}

.bottomHome {
	align-content: center;
}

.viewDelete {
	display: block-inline;
	padding: 2px 8px;
	font-size: 12px;
}